body{
    background-color: black;
    align-self: center;
}

.header{
   text-align: center;
}
.headertxt{
    font-size: 30px;
    color: white;
}
.cardView{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding-left: 28%;
  
  
}
.firstCard{
    width: 100%;
    max-width:  23%;
    max-height: fit-content;
    margin: 20px;
    padding: 25px;
    align-self: center;

}
.cardData{
     margin: 0;
     text-align: 'center';
      height: '400px';
      border-radius: '10px';
      align-self: center;
}
.pg-logo{
vertical-align: middle;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none
}